<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/styles.css" type="text/css" />

    <script src="js/script.js"></script>
    <title>Walks</title>
  </head>
  <body>
    <nav class="nav">
      <input id="menu-toggle" type="checkbox" />
      <label class="menu-button-container" for="menu-toggle">
        <div class="menu-button"></div>
      </label>
      <ul id="nav-list-container">
        <li class="nav-list">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="/weekly">Weekly Walks </a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="/private">Private Walks </a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="/contact">Contact us </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
