<nav class="nav navHome">
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>
  <ul id="nav-list-container">
    <li class="nav-list">
      <a class="nav-link" href="/">Home </a>
    </li>
    <li class="nav-list">
      <a class="nav-link" href="/weekly">Weekly Walks </a>
    </li>
    <li class="nav-list">
      <a class="nav-link" href="/private">Private Walks </a>
    </li>
    <li class="nav-list">
      <a class="nav-link" href="/contact">Contact us </a>
    </li>
  </ul>
</nav>
