<div class="walk-wrapper">
  <h2 class="walk-title"><%= item.walk_title %></h2>
  <div class="walk-container">
    <p class="walk-text">
      <span class="walk-date" name="date">Date - <%= item.walk_date %></span
      ><br />
      <br />
      <%= item.description %>
    </p>
    <div class="walk-img-container">
      <img class="walk-imgs" src="./assets/img-1.jpg" alt="image-one" /><%=
      item.image_url %>
    </div>
  </div>
</div>
