<%- include("./partials/navbar.ejs")%>
<div class="contact-text">
  <h1 class="walk-h1">Private Walks</h1>
</div>

<div class="walk-wrapper">
  <h2 class="walk-title">Walk title</h2>
  <div class="walk-container">
    <p class="walk-text">
      <span class="walk-date" name="date">Date - 21/May/2023 & 21/May/2023</span
      ><br />
      <br />
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae placeat
      odit, inventore necessitatibus repellendus impedit nulla atque, voluptas
      quis facilis sapiente? Iste, facere. Impedit itaque odit quia, ea repellat
      at. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>
    <div class="walk-img-container">
      <img class="walk-imgs" src="./assets/img-1.jpg" alt="image-one" />
    </div>
  </div>
</div>

<div class="walk-wrapper">
  <h2 class="walk-title">Walk title</h2>
  <div class="walk-container">
    <p class="walk-text">
      <span class="walk-date" name="date">Date - 21/May/2023 & 21/May/2023</span
      ><br />
      <br />
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae placeat
      odit, inventore necessitatibus repellendus impedit nulla atque, voluptas
      quis facilis sapiente? Iste, facere. Impedit itaque odit quia, ea repellat
      at. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>
    <div class="walk-img-container">
      <img class="walk-imgs" src="./assets/img-1.jpg" alt="image-one" />
    </div>
  </div>
</div>

<div class="walk-wrapper">
  <h2 class="walk-title">Walk title</h2>
  <div class="walk-container">
    <p class="walk-text">
      <span class="walk-date" name="date">Date - 21/May/2023 & 21/May/2023</span
      ><br />
      <br />
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae placeat
      odit, inventore necessitatibus repellendus impedit nulla atque, voluptas
      quis facilis sapiente? Iste, facere. Impedit itaque odit quia, ea repellat
      at. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>
    <div class="walk-img-container">
      <img class="walk-imgs" src="./assets/img-1.jpg" alt="image-one" />
    </div>
  </div>
</div>
<%- include("./partials/footer.ejs")%>
