@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --nav-color: #000;
  --main-color: #526a28;
  --sub-color: #815732;
  --color: #c5d8a4;
  --overlay-color: #707070;
  --text-color: #1e1e1e;
  --box-shadow: 10px 12px 6px #1e1e1e7d;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  line-height: calc(1.5em + 0.2vw) !important;
  color: var(--text-color);
  font: inherit;
  font-size: 10px;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  max-width: 100%;
  min-height: 100vh;
}

:where(.main_section, .section_card, .section_info, .sub_info_wrapper) {
  padding: 2rem;
  text-align: justify;
}

:where(h1, h2, h3) {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: clamp(2.5rem, 3vw, 3.5rem);
}

h2 {
  font-size: clamp(2rem, 2.5vw, 3rem);
}

h3 {
  font-size: clamp(1.8rem, 2vw, 2.3rem);
}

:is(label, button, a, p, input, select, textarea) {
  font-size: clamp(1.6rem, 1.8vw, 2rem);
  font-weight: 400;
}

option {
  font-size: clamp(1.4rem, 1.2vw, 2rem);
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid var(--overlay-color);
}

/*buttons*/
.container-button {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.button {
  background-color: var(--main-color);
  width: 20rem;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--main-color);
  transition: all 0.5s ease-in-out;
}

.button:is(:hover, :focus) {
  background-color: #fff;
  color: var(--main-color);
  box-shadow: var(--box-shadow);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  font-weight: 700;
}
