/*Navbar*/

.navbar {
  min-height: 7.5rem;
  background-color: #1e1e1e;
}

.navbar-menu {
  text-align: start;
  text-transform: uppercase;
}

.navbar-menu-item {
  min-height: 1rem;
  padding: 1rem;
  border: 1px solid #fff;
}

.navbar-link {
  color: #fff;
}

/*Navbar*/

/*------homepage-------*/
/*banner*/
.banner {
  background-image: url(../assets/Hero-img.png);
  max-height: 40rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  height: 40rem;
  background-color: rgba(0, 0, 0, 0.5);
}
/*banner*/

/*main-section*/
.main-section {
  background-color: var(--main-color);
  padding: 2rem;
  height: auto;
}

.main-section-title {
  color: #ffffff;
  text-align: center;
}

.main-section-text {
  color: #ffffff;
  padding: 2rem;
  text-align: justify;
}

.main-section-img {
  box-shadow: var(--box-shadow);
}
/*main-section*/

/*section-choices*/
.section-choices {
  padding: 2rem;
}

.spliter {
  border: 5px solid gray;
}

.container-text {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: justify;
}
/*section-choices*/

/*Img Grid*/
.grid-wrapper {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.image-grid {
  width: 100%;
  max-width: 100rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
}

.four-img-grid {
  display: flex;
  flex-wrap: wrap;
}

.four-img-grid .image-grid-item {
  width: 50%;
}

:is(.one-img-grid, .main-img-grid) .image-grid-item {
  height: 100%;
}

.main-img-grid {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
}

.panorama {
  grid-column-start: 1;
  grid-column-end: 4;
}

.image-grid-item img {
  transition: 1s ease;
  height: 100%;
  width: 100%;
  border: 2px solid white;
}

.image-grid-item img:is(:hover, :focus) {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 10px 12px 6px #1e1e1e7d;
}

/*Great*/
.great {
  font-size: clamp(1.5rem, 1.8rem, 2rem);
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
/*------homepage-------*/

/*------Contact-------*/
.banner-contact {
  background-image: url("/src/assets/banner.png");
}

.contact-text {
  text-align: center;
}

.contact-form {
  background-color: var(--color);
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
}

.form-item-container {
  padding: 2rem;
}

.button-form {
  display: flex;
  justify-content: center;
}
/*------Contact-------*/

/*------Private and Open Walks-------*/

/*------Private and Open Walks-------*/

/*Footer*/
.footer {
  min-height: 10rem;
  background-color: var(--main-color);
  display: flex;
  align-content: center;
}

.footer-text-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #fff;
  height: 100%;
}

.footer-p {
  padding: 0.5rem;
  text-transform: uppercase;
  color: #fff;
  font-size: clamp(0.8rem, 1rem, 1.2rem);
}
/*Footer*/

@media only screen and (min-width: 40em) {
  /*Navbar*/
  .navbar-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: inherit;
    width: 70%;
    margin: 0 auto;
  }

  .navbar-menu-item {
    border: none;
    transition: all 0.3s ease-in-out;
  }

  .navbar-menu-item:is(:hover, :focus) {
    text-decoration: underline 2px #ffffff;
    text-underline-offset: 8px;
    cursor: pointer;
    transform: scale(1.05);
  }
  /*Navbar*/

  /*------homepage-------*/

  /*main-section*/

  .main-section-wrapper {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 5rem;
  }

  .main-section-text {
    width: 70%;
    margin: 0 auto;
  }

  .main-section-img-container {
    max-width: 30%;
    padding: 2rem;
  }

  .main-section-img {
    object-fit: cover;
  }

  /*main-section*/
  .section-choices {
    display: flex;
    gap: 5rem;
    justify-content: center;
  }

  :is(.main-section, .section-choices, .grid-wrapper, .form-wrapper) {
    padding: 6rem;
  }
  /*------homepage-------*/

  /*------Contact-------*/
  .contact-form {
    max-width: 40%;
    margin: 6rem auto;
  }

  /*------Contact-------*/

  /*------Private and Open Walks-------*/
  .walk-wrapper {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 5rem;
  }
  /*------Private and Open Walks-------*/
}
