/*Navbar*/

.navbar {
  min-height: 7.5rem;
  background-color: #1e1e1e;
}

.navbar-menu {
  text-align: start;
  text-transform: uppercase;
}

.navbar-menu-item {
  min-height: 1rem;
  padding: 1rem;
  border: 1px solid #fff;
}

.navbar-link {
  color: #fff;
}

/*Navbar*/

.main-section {
  background-color: var(--main-color);
  padding: 5rem;
}

.main-section-title {
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

.main-section-text {
  color: #ffffff;
  padding: 1rem;
}

.section-choices {
  padding: 5rem;
}

.spliter {
  border: 5px solid gray;
}

.container-text {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: justify;
}

.button {
  background-color: var(--main-color);
  width: 20rem;
  padding: 0.5rem;
  color: #fff;
  outline-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

/*Footer*/
.footer {
  min-height: 10rem;
  background-color: var(--main-color);
  display: flex;
  align-content: center;
}

.footer-text-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #fff;
  height: 100%;
}

.footer-p {
  padding: 0.5rem;
  text-transform: uppercase;
  color: #fff;
  font-size: clamp(0.8rem, 1rem, 1.2rem);
}
/*Footer*/

@media only screen and (min-width: 40em) {
  /*Navbar*/
  .navbar-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: inherit;
    width: 70%;
    margin: 0 auto;
  }

  .navbar-menu-item {
    border: none;
  }

  .navbar-menu-item:is(:hover, :focus) {
    text-decoration: underline 2px #ffffff;
    text-underline-offset: 8px;
    padding-top: 2px;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);
  }
  /*Navbar*/

  .main-section-wrapper {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 5rem;
  }

  .section-choices {
    display: flex;
    gap: 5rem;
    justify-content: center;
  }

  .container-button {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
}
