@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --nav-color: #000;
  --main-color: #526a28;
  --sub-color: #815732;
  --color: #c5d8a4;
  --overlay-color: #707070;
  --text-color: #1e1e1e;
  --box-shadow: 10px 12px 6px #1e1e1e7d;
}
