.nav {
  position: fixed;
  width: 100%;
  background-color: var(--nav-color);
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}

#menu-toggle {
  display: none;
}

.menu-button-container {
  padding: 2rem;
  position: absolute;
  top: 0.1rem;
  right: 1rem;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  height: 4px;
  width: 3rem;
  z-index: 20;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

#nav-list-container {
  margin-top: 5rem;
  width: 100%;
  display: none;
}

.nav-list {
  width: 100%;
  border: 2px solid white;
  padding: 1rem;
}

.nav-link {
  color: white;
}
@media only screen and (min-width: 50em) {
  .navHome {
    background-color: transparent;
  }

  #nav-list-container {
    justify-content: center;
    align-items: center;
    width: 70%;
    display: block;
    display: flex;
    margin-top: 0;
  }

  .nav-list {
    width: 100%;
    border: none;
    text-align: center;
    padding: 2rem;
  }

  .nav-link {
    display: inline-block;
    position: relative;
    transition: 0.3s ease-in-out;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;

    background: #fff;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 3rem;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
